<!-- Bottom Nav -->

  <footer class="footer">
    <nav class="navbar fixed-bottom">
    <div>
      <p class="footer-content">&copy; Copyright 2020. All Rights reserved - PAJFAJ - Fall 2022 Group Project</p> 
    </div>  
    </nav>
  </footer>