<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>
<!-- Main Content -->
<hr class="first-hr">
<main class="container">

    <div class="hero">

        <video autoplay loop muted plays-inline class="back-video">
        <source src="/images/video.mp4" type="video/mp4"></video>

    </div>

    <div>

    </div>

    <h1 class="display-4">Surveys Template</h1>
    <div class="space_1"></div>

    <div class="card_cover">

        <div class="card" style="width: 18rem;">
            <a href="/template1"><img src="/Assets/images/1.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <p class="card-text">Survey for student information</p>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <a href="/template2"><img src="/Assets/images/2.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <p class="card-text">Survey on the living environment</p>
            </div>
        </div>
    
        <div class="card" style="width: 18rem;">
            <a href="/template3"><img src="/Assets/images/3.jpg" class="card-img-top" alt="..."></a>
            <div class="card-body">
                <p class="card-text">Survey of major subjects</p>
            </div>
        </div>

       

    </div>
</main>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>